*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.dashboard-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr;
    min-height: 100vh;
}
aside{
    grid-row: 1 / span 3;
    background-color: whitesmoke;
    display: grid;
     grid-template-rows: auto 1fr;
     position: sticky;
     top: 0;
     height: 100vh;
}
.logo{
    font-size: 1.4rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.765);
    text-decoration: none;
    padding: 10px 10px;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.nav-menu a{
    text-decoration: none;
    color: black;
    padding: 10px;
    cursor: pointer;
}
.nav-menu a:hover{
    background-color: rgb(139, 102, 102);
    transition: 0.7s;
    border-radius: 7px;
    color: white;
    outline: none;
    border: none;
}
header input{
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 12px;
    margin-left: 19px;
    margin-top: 10px;
    width: 50%;
    height: 44px;
}
.range{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.range div{
    background-color: white;
    color: black;
    gap: 40px;
    padding: 10px 0;
    margin: 8px;
    text-align: center;
    border-radius: 15px;
   
}
